from fabric.api import env, task


@task
def setup():
    env.roledefs = <%= JSON.stringify(roledefs).replace(/"/g, '\'') %>
    env.puppet_internal_ip = '<%= puppetInternalIp %>'
    env.puppet_host = '<%= puppetHost %>'
    env.provision_groups = <%= JSON.stringify(provisionGroups).replace(/"/g, '\'') %>
